.map-container {
    width: 100%;
    height: 50vh;
    /* Ocupa el 50% de la altura de la ventana */
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
}